* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.wrapper {
  /* background: lightblue; */
  display: grid;

  gap: 5px;
  grid-template-columns: 1fr 2fr 3fr;
  grid-template-areas:
    "h1 h1 h1"
    "header header header"
    "banner banner off1"
    "banner banner off2"
    "sm main main"
    "recent main main"
    "tags main main"
    "footer footer footer";
}
.wrapper > * {
  display: grid;
  justify-content: center;
  align-items: center;

  padding: 1rem;
}
.info {
  background: blue;
  grid-area: h1;
  display: flex;
  justify-content: space-around;
}
/* .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40rem;
} */
.button {
  display: flex;
  justify-content: space-between;
  gap: 1.3rem;
}
header {
  background: red;
  grid-area: header;
}
header ul {
  display: flex;
  gap: 2rem;
}
header ul li:hover {
  background: black;
}
header ul li {
  margin-left: 1rem;
  list-style: none;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}
.banner {
  color: white;
  background-color: green;
  min-height: 70vh;
  grid-area: banner;
}

.banner .bann-content {
  font-weight: bold;
  font-size: 9px solid;
  background: rgba(128, 128, 128, 0.402);
}
.off1 {
  background: yellow;
  grid-area: off1;
}

.descrip {
  width: auto;
  background-color: black;
  color: white;
}

.off2 {
  background: brown;
  grid-area: off2;
}

.side-menu {
  background: purple;
  grid-area: sm;
}
.recent {
  background: cyan;
  grid-area: recent;
}
.tags {
  background: orange;
  grid-area: tags;
}
.main {
  background: burlywood;
  grid-area: main;
}
footer {
  background: black;
  grid-area: footer;
  color: white;
}
/* ipads 1024 and mobile 576 */

@media (max-width: 1024px) {
  .wrapper {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "h1 h1"
      "header header"
      "banner banner"
      "off1 off2"
      "sm sm"
      "main main"
      "recent tags"
      "footer footer";
  }
}
@media (max-width: 576px) {
  .wrapper {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "h1"
      "header"
      "banner"
      "off1"
      "off2"
      "sm"
      "main"
      "recent"
      "tags"
      "footer";
  }
}
